{% extends '_layouts/main.twig' %}

{% block content %}
    <ul>
        <li><a href="{{ path_for('login') }}">Login</a></li>
        <li><a href="{{ path_for('register') }}">Register</a></li>
    </ul>
{% endblock %}