{% extends '_layouts/main.twig' %}

{% block content %}
    <div class="container my-5">
        <div class="jumbotron">
            <h1 class="text-center">
                TODO: This place is not done yet
            </h1>

            <a href="javascript:history.back()">Go Back</a>
            <a href="/disconnect">Disconnect</a>
        </div>
    </div>
{% endblock %}